<%- include ("header") -%> 
    <body>
        <body>
            <div class="box" id="heading">
                <h1>Hi Tak</h1>
                <h1> <%= listTitle %></h1>
                <h2>Here is your todo list</h2>
            </div>
    
            <div class="box">
                <% for (var i = 0; i < itemArray.length; i++) { %>
                <div class="item">
                    <input type="checkbox" name="" id="">
                        <p><%= itemArray[i] %></p>
                </div>
                <% } %>
    
                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" id="" placeholder="New item" autocomplete="off"/>
                    <button name="btn" type="submit" class="" value="<%=listTitle%>">+</button>
                    <button name="btn" type="submit" class="" value="clear <%=listTitle%>">-</button>
                </form>
            </div>
    

<%- include ("footer") -%> 
